{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Access to work
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <p class="font-medium">Access to Work is a grant that supports people with a disability or health condition to start
       work, return to work or stay in work, beyond reasonable adjustments</p>

      <p>Primary need: I want support for work.... (..because of a disability or health condition)</p>

      <p>Our purpose: Create a service that is simple for citizens to access support and enhance DWP's capacity to deliver.</p>


      <div class="blogpost">
        <h2>Product Owner</h2>
        <p>Clare Parkinson</p>
      </div>

      <div class="blogpost">
        <h2>Delivery Manager</h2>
        <p>Mark Renyard</p>
      </div>

      <div class="blogpost">
        <h2>Business Analyst</h2>
        <p>Tommy Aiyebeani</p>
      </div>

    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Our services</h3>
      <ol>
        <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
        <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
        <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
        <li><a href="/posts/carers.html">Support for Care</a></li>
        <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
    </ol>

  </div></div>
  <!-- RIGHT COL ENDS -->

  </div>
  </main>

  {% endblock %}
