{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Access to work: New realeased
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">



      <p class="font-medium">The Access to Work team are pleased to inform that today (16th January 2019), the renewal application service on gov.uk successfully went live in private beta.</p>

      <p>The digital team, colleagues in operations and OED have worked continuously together to create this service, and their passion and commitment for the Access to Work service has shone
        through. My thanks to all involved.</p>

      <p>However, before we can start to inform customers that they can apply to renew their grant online, we need sign off to use a data extract that helps us to identify the correct customers.
        This issue has now been escalated to our Deputy Director James Parker who is liaising with the SRO for sign off.</p>


<p>In the next day or two we hope to send you another update to advise that we have sent our first batch of renewal reminders, and subsequently that customers are 
  using the renewal online application.</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
