{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Access to Work: "I support help for work... (..because of a disability or health condition)
      </h1>
      <p class="govuk-body govuk-!-margin-bottom-8">By Mike Renyard</p>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/team pic.JPG" alt="access to work team" style="width:100%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">The Digital Delivery team on Access to Work have had a few changes in the team make-up recently.
        We’ve taken this opportunity to review what determines success for our intended new digital service.  We’ve been working
        and checking in with a range of senior stakeholders as well as reviewing our initial Discovery findings on key user needs.
        We’ve created an outline roadmap that now clearly sets out the rollout of the new digital service and how this also seeks
        to ‘retire’ the current legacy system. </p>

        <p class="govuk-body govuk-!-margin-bottom-8"</p>
          <img src="/public/images/team pic1.JPG" alt="team picture" style="width:100%">

      <p>Our immediate focus has additionally been to ensure that from the onset, we develop a collaborative project delivery
        environment with our colleagues in OED, Operations and Policy.</p>

      <p>As the first objective set out in our roadmap, the team have just kick started the new service development for handling
        renewals of existing grants. </p>

        <p class="govuk-body govuk-!-margin-bottom-8"</p>
          <img src="/public/images/team pic2.JPG" alt="team picture" style="width:100%">

      <p>The past week has been spent bringing the whole ‘extended’ team together to undertake spot checks reviewing our initial
        assumptions and previously determined user needs.  We are now at the stage where we have our first draft of the initial
        Story map setting out the journey for renewals. Our intention is to firm up the journey during the next three weeks with
        exercises involving user testing with low fidelity prototypes and continued user research.</p



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
