{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Carer's Allowance Digital Service
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <p class="font-medium">Apply and Maintain Carer's Allowance is an
        agile project that aims to build out from the citizen service, to
        replace the current legacy system (CACS) Initaially, this system
        will deal with the 'simple' Carer's Allowance cases, ingesting
        the information from teh citizen and presenting it to the agent
        for verificiation and decision. We will then iterate to include
        the more complex cases; integrating with CIS and Qualifying
        Benefit systems; enhancing the citizen service to include document
        upload and a save function; and exploring automating decisions.</p>

      <div class="blogpost">
        <h2>Product Owner</h2>
        <p>Debbie Blanchard</p>
      </div>

      <div class="blogpost">
        <h2>Delivery Manager</h2>
        <p>Dave Barlow</p>
      </div>

      <div class="blogpost">
        <h2>Business Analysts</h2>
        <p>Damien Gilkes</p>
        <p>Kathryn Baxendale</p>
        <p>Phil Warburton</p>
      </div>

      <div class="blogpost">
        <h2>Content Designer</h2>
        <p>Amer Rana</p>
        </div>

      <div class="blogpost">
        <h2>Interaction Design</h2>
        <p>David Holmes</p>
        </div>

      <div class="blogpost">
        <h2>QA Testers</h2>
        <p>Bhagath Koraboina</p>
        </div>

      <div class="blogpost">
        <h2>Software Engineers</h2>
        <p>Mike Gardner</p>
        <p>Ben Dickinson</p>
        </div>

      <div class="blogpost">
        <h2>Tech Architect</h2>
        <p>Neill Adshead</p>
        </div>

      <div class="blogpost">
        <h2>User Researcher</h2>
        <p>Greg Tindall</p>
        </div>

      <div class="blogpost">
        <h2>Web Ops</h2>
        <p>Ollie Rouse</p>
        </div>


    <div> </div>

    </div>

    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third"><div class="border">

      <h3 class="bold-medium">Our services</h3>
      <ol>
        <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
        <li><a href="/posts/accesstowork.html">Access To Work</a></li>
        <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
        <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
    </ol>

  </div></div>

</div>

  <!-- RIGHT COL ENDS -->

  </div>
  </main>

  {% endblock %}
