{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Community 10,000: Helping Oxfam
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/community.jpg" alt="Staff doing community 10000" style="width:100%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">TI had been aware of the good things Community 10,000 do through colleagues being
involved previously with various projects around Leeds, but I’d never had the
opportunity to participate myself. So when Bryan Sharp, Delivery Manager for the
new style ESA service, organised some volunteering days I jumped at the chance to
get involved. </p>

       <p>So, on Tuesday 18 th December 7 colleagues and myself headed to the Oxfam
national textile recycling centre in Batley to provide our services for the day.</p>

<p>On arrival we met Holly, our hostess for the day, who told us some history and
information about the Oxfam charity. She gave us a tour around the vast warehouse
units where clothes and textiles are delivered on a daily basis, graded, sorted and
shipped out across the world. Our tasks for the day would be listing items for the
Oxfam online store, picking and packing orders, preparing the clothing and taking
photos to list the items online.</p>

<p>We were kept busy all day and as we were packing up
to leave Holly thanked us for our time and calculated the amount we had raised for
the Oxfam charity, over £1,000!! Everyone enjoyed the day and felt like out little of
volunteering had added to the great work Oxfam do to eradicating poverty.</p>


</p>
<p class="govuk-body govuk-!-margin-bottom-8"</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
