{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        NHS Data sharing
      </h1>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <div class="blogpost">
        <h2>Product Owner</h2>
        <p>tbc</p>
      </div>

      <div class="blogpost">
        <h2>Delivery Manager</h2>
        <p>Bryan Sharp</p>
      </div>

      <div class="blogpost">
        <h2>Business Analyst</h2>
        <p>Alison Baines</p>
      </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Useful links?</h3>
      <ol>
        <li><a href="posts/fitnoteteam.html">Send your fit note</a></li>
        <li><a href="posts/accesstowork.html">Access To Work</a></li>
        <li><a href="posts/datasharing.html">NHS Data Share</a></li>
        <li><a href="posts/ds1500.html">Report that your patient is terminally ill</a></li>
        <li><a href="posts/fha.html">Future Health Assessment</a href="#"></li>
    </ol>

  </div></div>
  <!-- RIGHT COL ENDS -->

  </div>
  </main>

  {% endblock %}
