{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Improving the journey for New Style Employment & Support Allowance (ESA) customers
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">From December 2018, all ESA Income Related new claims will have migrated to Universal Credit (UC) leaving approximately 240k new ESA Contributory (New Style ESA) claims per annum
      subject to current ESA benefit rules and maintained in JSAPS. </p>

      <p>The current journey for our customers is very clunky and involves a number of clerical processes. There can also be confusion when contacting the departmentsand
      and the customer is subject to a number of handoffs. This can lead to a number of issues such as the customer not receiving the benefit they are entitled to.</p>

      <img src="/public/images/office8.jpg" alt="postitnotesonwall">

      <p>The team, headed up by Catherine Buchanan in Leeds, is working to provide a solution within Health by breathing life into Apply for ESA online service. They plan to provide
        a new front end New Style ESA service online that can be utilised by UC whilst integrating seamlessley with 'back of house' systems using intelligent Automation
        to ingest the claim data into the appropriate system (CAM or JSAPS) without call agent intervention.</p>

      <p>They will also be working alongside UC colleagues to develop an appropriate claims adjudication process for New Style ESA online and improve direction for users.</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
