{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Health Transformation Digital Service
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <div class="blogpost">
        <h2>Senior Product Owner</h2>
        <p>Melanie Johnson</p>
      </div>

      <div class="blogpost">
        <h2>Senior Delivery Manager</h2>
        <p>Jo Clarkson</p>
      </div>

      <div class="blogpost">
        <h2>Delivery Managers</h2>
        <p>Justin Coyne</p>
        <p>Carol Kelly</p>
        <p>Stephen O'Connor</p>
      </div>

      <div class="blogpost">
        <h2>Business Analysts</h2>
        <p>Ian Tindmarsh</p>
        <p>Ian Faulkner</p>
      </div>

      <div class="blogpost">
        <h2>User Researchers</h2>
        <p>Andrea Feltell-Dack</p>
        <p>Mark Lambert</p>
      </div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/HXzYSfhFFGI" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Our services</h3>
      <ol>
        <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
        <li><a href="/posts/accesstowork.html">Access To Work</a></li>
        <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
        <li><a href="/posts/carers.html">Support for Care</a></li>
        <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>

    </ol>

    </div></div>

  </div>
    <!-- RIGHT COL ENDS -->

    </div>
    </main>

    {% endblock %}
