{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Send your fit note
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <p class="font-small"> A digital service that allows ESA claimants to
        send a digital image of their fit note to the department using a
        mobile phone or other device.</p>

        <p class="font-small"> Claimants need to provide regular proof of
          illness/disability to maintain payment of their ESA until they
          have been fully assessed- this period is usually 13 weeks but can
          last longer.</p>

       <p class="font-small"> Often fit notes are lost in transit or the process
         can take up to 15 days which results in claimants either coming in
         to jobcentres or sending duplicates (which is additional work for the doctor).
         The digital service sends the fit note directly into DRS reducing the
         time lag to a matter of minutes.</p>

         <p class="font-small"> This has already reduced footfall in jobcentres
           and also reduced the number of duplicate fit notes being sent. For
           userswithout access to mobile devices the service also operates on
           a desktop/laptop where users can upload an image- this is especially
           useful for customers who access digital services through libraries
           and other partners.</p>

      <p class="font-small">


      <div class="blogpost">
        <h2>Product Owner</h2>
        <p>Catherine Buchanan</p>
      </div>

      <div class="blogpost">
        <h2>Delivery Manager</h2>
        <p>Mark Bailey</p>
      </div>

      <div class="blogpost">
        <h2>Business Analyst</h2>
        <p>Phil Corbett</p>
      </div>

      <div class="blogpost">
        <h2>Software Engineers</h2>
        <p>Chris Hulley</p>
        <p>Jane Gleadall<p>
      </div>

      <div class="blogpost">
        <h2>DevOps</h2>
        <p>Chris Brundell</p>
      </div>

      <div class="blogpost">
        <h2>Content Designer</h2>
        <p>Matt Blackwell</p>
      </div>

      <div class="blogpost">
        <h2>Analytics</h2>
        <p>Jim Montgomery</p>
      </div>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/yR_m5L8rYf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      <li><a href="https://dwpdigital.blog.gov.uk/2018/05/22/collaborating-to-develop-the-send-your-fit-note-service">Read more about how we developed the service</a></li>

    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Our services</h3>
      <ol>
        <li><a href="/posts/accesstowork.html">Access To Work</a></li>
        <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
        <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
        <li><a href="/posts/carers.html">Support for Care</a></li>
        <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
    </ol>

    </div></div>
    <!-- RIGHT COL ENDS -->

    </div>
    </main>

    {% endblock %}
