{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Future Health Assessment: Common Assessement Service
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/fha.png" alt="future health logo" style="width:100%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">The start of this month saw the common assessment service promoted into production.</p>

       <p>Training took place in birmingham and London with healthcare professionals at the beginning of October and the first appointment
         for an assessment with member of the public was undertaken in Birmingham on 4th October.
       of public</p>


<p>Two other appointments were made by our customers but unfortunately they were cancelled. The next assessments have been
scheduled for 19th October in london.</p>
</p>
<p class="govuk-body govuk-!-margin-bottom-8"</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
