{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        John Manzoni visits Peel Park
      </h1>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->


    <div class="column-two-thirds">

      <p class="font-medium">The Digital Health Team were delighted to welcome John Manzoni to see our work in Peel Park last week. The team knew it was a special day when they saw me in a suit.</p>

      <p>We’re very proud of what we’re trying to do here and how this impacts and effects the lives of millions of customers so it was great to get the opportunity to share our wares with the top man.</p>

      <img src="/public/images/jamesandjohn.jpg" alt="jamesparkerandjohnmanzoni">

      <p>John started with the tough questions…“what’s with the all the Post-it notes?” – answer, we make things visible. As a team we talk to each other continually and the walls are a really important
        tool to ensure everyone knows where we’re up to at all times. The walls are a living, breathing part of our agile delivery and without them the team couldn’t function at the same pace.</p>

      <p>AWe’re not big on PowerPoint presentations in this neck of the woods, we build real ‘stuff’ so it was great to get John in front of the shiny new Health Assessment Service and the Send Your
        Fit Note service. John was really interested in how we are using data to improve the claimant journey and make DWP (and government) more efficient through sharing and exchanging info across
        departments. We also had John use a smart phone to send us a copy of a Note which showed first hand just how much better we are making things for our users (we’re assured he wasn’t using the
        service to grab a few days off work whilst the sun shines)</p>

      <p>John commented:</p>

      <p>“You and your teams are at the very heart of delivering digital transformation within DWP – something that is only possible with the right people skills and knowledge. I was impressed by the
        commitment shown by your team to drive through some of the challenges and drive digital ways of working to give the public better.” John was somewhat surprised by the scale of our ambition within
        Heath & Disabilities and appreciated the cross departmental work we are doing with the NHS. We’d love to see John again as the products grow and evolve. The team have however set me a challenge
        to invite the Prime minister. I’ll see what I can do…</p>

    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Useful links?</h3>
      <ol>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a href="#"></li>
      </ol>

    </div></div>
    <!-- RIGHT COL ENDS -->

  </div>

      <p>Laurence Bates hosted the first part of John's visit and commented:</p>

      <p>"John Manzoni had two things in mind when he asked to come and visit our Digital Teams in Peel Park, to meet some “real people” in Blackpool and find out who we are and what we do; and also to
        meet some of the local Young People that he knows we have been working with to help lift their aspirations and prepare them for work and further education through our Engaging with Schools and
        Changing Horizons initiatives.</p>

      <p>John asked our Young People if the work we have done with them really did help prepare them for life after school; and they all confirmed it had, for example helping them be more confident,
        improve their interview skills and create good CV’s to share with potential employers. They also said they thought Peel Park looked a great place to work, full of technology and interesting
        people.</p>

      <p>We talked about the issues Young People face in Blackpool and that through our volunteers we are trying to put something back into our local community and be more than an anonymous
        government building, John said he thought it was vital to support communities and the work we were doing was amazing."</p>

</main>

{% endblock %}
