{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Launching the new mentor scheme within Health and Disability
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">There are a number of benefits for pairing up with a mentor and within Health and Disability we are very lucky to home a whole host of skills and knowledge.</p>

      <p>From learning new skills to having an impartial ear to share your ideas, a mentor can really be a great asset to any member of staff. If you would like to volunteer your services,
        please contact me direct at <a href="ryan.mallinson2@dwp.gsi.gov.uk">ryan.mallinson2@dwp.gsi.gov.uk</a>.</p>

        <p>I will look to host these somewhere easier to access in a nice simple format but for now, let me introduce our first group of willing mentees. Drop them a message direct if you would like to know more;</p>
        <p class="govuk-body govuk-!-margin-bottom-8"</p>


      <div class="blogpost">
        <h2>Rachel Duffy | Service Manager</h2>
        <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <p>I’m an experienced, motivated and results orientated Digital Service Manager with a proven track record of supplier and performance management working on many of DWPs high profile/high value contracts, projects and supplier accounts including HPE, CapGemini, ServiceNow, Fujtsu and ATOS.</p>
        <p>Throughout my career I’ve continually led on the delivery of Digital service improvements working with multiple suppliers to provide tangible benefits for our extensive user base including significant cost savings, improved system stability and enhanced user led functionality.</p>
        <p>Working for Digital Executive Team has given me a thorough understanding of business and strategic goals and I’ve been able to use this knowledge in my current role to ensure all governance, processes, service levels and key performance indicators are aligned with and contributing to the delivery of DWPs key goals. </p>
        <p>For the last few years I’ve been really focused on my own career progression and have been fortunate to have mentoring/coaching support from colleagues in Digital.  I’m at the point where I want to pay this forward by providing the same type of support to someone else (outside of my immediate team) and helping to identify and work towards fulfillment of their goals at work (whatever they may be).</p>
        <p><a href="rachael.duffy1@dwp.gsi.gov.uk">rachael.duffy1@dwp.gsi.gov.uk</a>.</p>
      </div>

      <div class="blogpost">
        <h2>Matt Chave | Agile Coach</h2>
        <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <p>Coaching is unlocking a person’s potential to maximise their own performance. It is helping them to learn rather than teaching them.” Jon Whitmore, Coaching for Performance.</p>
        <p>I believe that individuals, teams and organisations are most effective when they have a learning culture. It’s not the fastest and most efficient that survive in today’s complex and volatile world but those that learn the quickest. This is what coaching is about – helping organisations, teams and individuals to experiment and learn rapidly.</p>
        <p>Unfortunately I’m getting close to 30 years working in software development teams and I’m beginning to show it. However, this does help me with an understanding of the whole messy thing and how to embrace and thrive in the mess rather than trying to control it.</p>
        <p>For the last 15 years I’ve been an Agile coach, trainer, mentor and blogger helping organisations with Agile transformations. I’ve worked on many large scale complex endeavours in both the private and public sector helping organisations achieve business agility through context based pragmatic approaches to team capability building, individual development coaching and culture change. I’m passionate about helping people and have a an easy going, hands-on approach that delivers fresh and innovative thinking on how to accelerate individual, team and organisational learning.</p>
        <p><a href="rmatthew.chave@dwp.gsi.gov.uk">matthew.chave@dwp.gsi.gov.uk</a>.</p>
      </div>

      <div class="blogpost">
        <h2>Justin Coyne | Delivery Manager/ Agile Coach</h2>
        <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <p>A am an Agile Coach with 17+ years experience in IT and Digital delivery within various industry sectors.  I have a fascination for improving individual’s performance and team performance, believing that the sum of the parts can often be greater than the whole.</p>
        <p>I have witnessed in my own career a transformation journey -  from stressed out, OCD, control freak Programme Manager to ‘Zen like’ servant leader ;-) of multiple agile teams. This journey of self-awareness and professional development has built a depth of knowledge and experience that I have since used to guide many others on their own agile journey and personal development.</p>
        <p>In my personal life I suffer from a condition called Competitive Triathlete, which causes me to spend many hours moving by human propulsion alone over miles of the beautiful Lancashire Countryside and Cumbrian lakes with a view to repeating a little faster and/or by expending a little less energy!</p>
        <p> believe that in order to be the best version of ourselves we need: a clear defined goal that we can review our performance against;  a safe environment with which to flourish or fail and learn within; and an emotional connection to the work we are performing.  These are often already in place however our inner fear holds us back from recognising their existence!</p>
        <p>If you would like some help in setting your goals, embracing a learning approach, gaining an emotional connection to your work or overcoming fear then let’s have a talk about mentoring, or if you  you would like some help with specific agile techniques then I offer my services as a coach.</p>
        <p><a href="justin.coyne1@dwp.gsi.gov.uk">justin.coyne1@dwp.gsi.gov.uk</a>.</p>
      </div>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
