{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Accelerate Modern Agility: Part One
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/Modern agility badge 1.png" alt="Modern Agility logo" style="width:70%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">Part one of a four part look into modern agility by Justin Coyne.</p>

       <p>Hey, I’m Justin, an Agile Coach in the Health Transformation Digital Service (HTDS). I’m a bit of an agile
         geek who is fascinated by people, interactions, organizational behavior and high performance.  Over the years
         I have built my understanding through of what agile is through; training, experiences, conferences, talks,
         meet ups, reading and through trying it and getting it wrong! I also believe that I still have a lot to learn
      </p>


<p>To start our journey of continuous improvement within our department, my colleague Matt Chave, and myself set
  ourselves on a mission to defining a clear direction of travel for our teams that would enable us to become a fast moving,
  high performing and innovative technology organisation. Exciting isn’t it!</p>

<p>Fuelled by our experiences and coffee we had a white boarding session and came up with this:</p>

<p class="govuk-body govuk-!-margin-bottom-8"</p>
  <img src="/public/images/modern agility 2.png" alt="Modern Agility logo" style="width:100%">

<p>We found our thinking was heavily inspired by ‘Accelerate’ by Nicole Forsgren, Jez Humble and Gene King which details
  the results of a 4 year period, of 23,000 research candidates across 2,000 organisations from small start-up organisations
  to large Enterprise heavily regulated organisations, Greenfield projects to legacy code maintenance activities, agile
  and waterfall projects, I won’t review the book in detail here – but suffice to say it is a great read for anyone interested
  in adopting a high performance culture in their organisation.</p>

<p>I’m sure you will have experienced agile and have formed a view of what agile means to you. More likely than not your view
  will be different to mine, as it is formed through your journey and your perspective. In this series of 4 short blog posts I
  will describe my view (aligned with Matt (mostly!) and define each of these headings above in a little more detail, to
  describe our intention for HTDS. </p>

<p>I would be really interested to discuss with you, your understanding, and how and why it differs to mine, as it is within
  this space where future learning is!</p>

  <div class="blogpost">
    <h2>Values</h2>
    <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We sought guidance from an existing movement that is aligned to our thinking, Modern Agile. This open source style movement
  has four values or principles, these four principles are the guidance we will use to work towards our vision. </p>
</div>

<div class="blogpost">
  <h2>Make People Awesome</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We will strive to make everyone in our ecosystem awesome …. users, creators, sponsors and even workspace neighbours
  (keep the noise down!), we recognise that to do our best we will need to be pretty awesome ourselves!  </p>
</div>

<div class="blogpost">
  <h2>Make Safety a Pre-requisite</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>Safety is a basic human need and key to unlocking high performance, we will endeavour to learn blamelessly from our failures
  and quickly improve. Safety to have those difficult conversations, to challenge long held beliefs, to agree with minority views,
  to be ourselves! </p>
</div>

<div class="blogpost">
  <h2>Deliver Value Continiously</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We recognise that anything that hasn’t been delivered isn’t helping anyone and therefore, we will drive for a safe continuous
  development pipeline that lowers stress by making releasing an automated event. If we could make it boring that would be even better! </p>
</div>

<div class="blogpost">
  <h2>Experiment and Learn Rapidly</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We will make our experiments ‘safe to fail’ so we are not afraid to conduct them and ensure we are failing fast and moving onto new experiments.
  We will learn from what we are being told in the experiments and use the data to shape our next steps.
These are soooo simple, and yet so effective, they are aligned to the original Agile Manifesto and, and can be effectively communicated through the
our Media Kits ‘Accelerate Modern Agile’ info graphic (stickers and poster formats) that is available in Blog post part 4.
They are however not enough by themselves, we need a little more….
 </p>
</div>

<p>Continued in part 2</p>





</p>
<p class="govuk-body govuk-!-margin-bottom-8"</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
