{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Accelerate Modern Agility: Part Two
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/modernagilelogo.png" alt="Modern Agility logo" style="width:70%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">Part two of a four part look into modern agility by Justin Coyne.</p>

       <p>In the Previous Post we identified our Values, but what does that mean…….how does it affect me? ...
         whilst those sceptics will say they are easy to identify (well not they are not actually – not to get
         them right, but hey) – they are more definitely more difficult to a follow without some sort of direction
         and to be able to demonstrate in our day to day interactions.  So we have a developed a layered approach
         to help us with our direction of travel through a series of Leadership, Management Practices, Technical
         Practices and Metrics, In this post I will cover Leadership.
      </p>

      <div class="blogpost">
        <h2>We can't do it alone!</h2>
        <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>It is the role of Leadership is to help people, (us!) feel purposeful, motivated, and energized so we can bring
  our best selves to work. Top-down leadership is outdated, and, more importantly, counterproductive. By focusing
  too much on control and end goals, and not enough on people, leaders are making it more difficult to achieve their
  own desired outcomes. Successful leaders that operate in the complex (see cynefin) environment that we work within
  are an integral part of the team, to be there and to have the interactions on a regular basis. To affect the multiple
  small decisions that change the focus and provide the direction continually.</p>

<p>We expect the following from Leaders within our organisation, and recognise that we can all be leaders regardless of organisational hierarchy. </p>

  <div class="blogpost">
    <h2>Emergent vision</h2>
    <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>Give us the ‘WHY’! Provide the purpose and the meaning that will propel us forward. A vision and impact to the bigger picture that Inspires and pulls
  us towards something that stirs our heart, mind, or spirit. We are inspired by people, events, or circumstances. The Vision needs to be emergent as we
  are continually experimenting and learning. The communication of the vision is more effective if it is a continual flow, that is conducted by 2-way
  communication. </p>
</div>

<div class="blogpost">
  <h2>Encourage and Support experimentation and learning</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We want our leaders to support equality and individual authority and actively promote experimentation with solutions and approaches to solutions.
  It is by experimenting and seeing results we can move from subjective judgment to objective evidence based decision making, to provide clear results
  with which to learn from. We will undoubtedly get it wrong more often than not. Trying something new / something risky or innovative should be applauded,
  if we do not do this the road leads to stagnation and decay </p>
</div>

<div class="blogpost">
  <h2>Intellectual Stimulation and Meaningful Work</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We want our leaders to confront and challenge old and outdated assumptions and traditional ways of doing things. This type of leadership supports
  us as we try new approaches and develop innovative ways of dealing with organizational and technical issues. It promotes ‘thinking things out’ and
  engaging in problem solving.
By providing time for members to explore the purpose of the project and connect on a personal level with the user base to see the problem that our
project addresses… to empathise and design a service that truly meets our user’s needs.
</p>
</div>

<div class="blogpost">
  <h2>Support Collaboration</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>By providing the space for teams to shape meaningful relationships and shape their perspectives we will maximise collective performance. By
  encouraging individual accountability and propelling learning we will maximise individual performance.
By putting minds together from different: backgrounds, skill areas, experience levels, gender, and on…the more diversity the better… team members
share information and combine insights providing the environment where the sum is far greater than the parts in terms of output and ongoing resilience.
</p>
</div>

<div class="blogpost">
  <h2>Personal Recognition</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>A personal thank you goes a long way! Several studies spanning have demonstrated that expressing appreciation is correlated with greater happiness,
  it is a significant driver for delivery of high performance, increases job satisfaction and it is contagious. Where is the negative……there isn’t one!
  A culture of gratitude and appreciation is a simple way of uplifting the entire team.
 </p>
</div>

<div class="blogpost">
  <h2>Encourage Leadership at all levels</h2>
  <p class="govuk-body govuk-!-margin-bottom-8"</p>
<p>We also recognise that we can all be Leaders. Rather than telling each other how to do a job better, start by asking how you can help them do
  their jobs better engendering servant leadership throughout the team. We can all be leaders in building the environment with which we want to work in.
  Safe environments are built slowly like matchstick villages, on single interactions between individuals assembled over time. They are however, easily
  lost by aggressive, dominant or dismissive behaviours, which like a tsunami across the village tear down that which was crafted over time.
 </p>
</div>

<p>At the start of this post I wrote:
‘It is the role of Leadership to help people, (us!) feel purposeful, motivated, and energized so we can bring our best selves to work’,
</p>

<p>And at the end of this post I wrote:
‘We also recognise that we can all be leaders….’
</p>

<p>… So I guess I’m saying
I not only have an effect on ‘bringing the best versions of myself to work’, but also that I have an effect on the person sitting next to me or my team ‘bringing the best version of themselves to work’
</p>

<p>OK, so that’s a start, but what else can we do....?</p>

<p>

<p>Continued in part 3</p>

<li><a href="/posts/modernagilept2.html">Read part one here<a></li>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





</p>
<p class="govuk-body govuk-!-margin-bottom-8"</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
