{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
<div class="column-two-thirds">

    <div class="column-full">
      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Update: Architecture and Engineering</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">December 11th 2018</p>

      <img src="/public/images/architecture.jpg" alt="Computer science image" style="width:100%">

        <p>An update from our Architecture colleagues.</p>
        <li><a href="/posts/architecture.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Accelerate Modern Agility: Part Four</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 20th 2018</p>

      <img src="/public/images/modernagileinfographic.png" alt="Modern Agile infographic" style="width:100%">

        <p>Justin Coyne presents the final part of a four part series.</p>
        <li><a href="/posts/modernagilept4.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Health Transformation Digital Service: Update</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 13th 2018</p>

        <img src="/public/images/HTDS.png" alt="logo" style="width:80%">

        <p>By Emma Anderton, Associate Product Owner.</p>
        <li><a href="/posts/htds.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Report that your patient is terminally ill: Update</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 13th 2018</p>

        <img src="/public/images/ds1500.png" alt="screenshot" style="width:80%">

        <p>By Mark Bailey, Delivery Manager.</p>
        <li><a href="/posts/ds1500update.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Access to Work: "I want support for work...."</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 13th 2018</p>

        <img src="/public/images/teampic.JPG" alt="team photo" style="width:80%">

        <p>By Mark Renyard, Delivery Manager Access to Work.</p>
        <li><a href="/posts/atwrenewals.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Accelerate Modern Agility: Part Three</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 5th 2018</p>

        <img src="/public/images/modernagilelogo.png" alt="modern agility badge" style="width:80%">

        <p>Justin Coyne presents part two of a four part series.</p>
        <li><a href="/posts/modernagilept3.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Legacy is not the past nor the future, but it is the present</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">November 5th 2018</p>

        <img src="/public/images/pastpresentfuture.jpg" alt="past present and future image" style="width:80%">

        <p>Lindsey Broderick talks about Legacy.</p>
        <li><a href="/posts/legacy.html">Read more<a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>


    </div>

    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
