{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Send Your Fit Note: The impact and continued success
      </h1>
      <a href="/index.html" class="govuk-back-link">Home</a>
      <p class="govuk-body govuk-!-margin-bottom-8"</p>
        <img src="/public/images/jcplus.jpg" alt="Jobcentre plus buidling" style="width:100%">
    </div>
    <!-- HEADER ENDS -->

    <div class="column-two-thirds">

      <p class="font-medium">The Send Your Fit Note service continues to add value throughout the business with Jobcentres across the country
        reporting back on the positive impact its had on both customers and staff. </p>

       <p>Wakefield Jobcentre were fully immersed in the initial trial and have since been big advocates of the service. Speaking with Jane
         Carr and Lou Soar from the Service Delivery team, they report that they previously took receipt of approximately 175 fit notes per week.
         Following the roll out of the service, that figure is now down to a handful at best.
      </p>


<p>This is echoed across the business up and down the country with CAMlite tasks reduced by nearly 400 per month. As fit notes received thrpough the service
  are recieved in real time it means that JSAPS release significantly less reminder letters to claimants. This brings savings in terms of paper and postage,
and in addition this has reduced CAMlite tasks resulting from claimants returning the reminders to notify DWP that the fite note has been sent. </p>

<p>Users are now also now accepting the fit note service as the 'norm' with it being notably advertised when a new ESA customer receives their customer statement.</p>

<p>Staff in Wakefield Jobcentre are just one of the sites feeling the benefit on their own staffing. Through reducing footfall into the centre, they have
freed up the capacity of one full time equivalent to apply their time to more useful tasks. </p>

<p>Previously, staff would spend a good chunk of their day processing the fit notes whereas now this has freed up more time for them to support customers
  on their jpurney into employment. </p>

<p>We look forward to following the continuing success of the Send Your Fit Note service.</p>

</p>
<p class="govuk-body govuk-!-margin-bottom-8"</p>



    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-one-third">
      <div class="border">
        <h3 class="bold-medium">Our services</h3>
        <ol>
          <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
          <li><a href="/posts/accesstowork.html">Access To Work</a></li>
          <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
          <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
          <li><a href="/posts/carers.html">Support for Care</a></li>
          <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
        </ol>
      </div>
    </div>

    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
