{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">

      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        The DWP Health Hub
        <span class="heading-secondary" style="margin-top:30px">News & updates</span>
      </h1>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Future Health Assessment: Common Assessment Service</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">September 24th 2018</p>

        <img src="/public/images/fha.png" alt="future health assessment logo" style="width:100%">

        <p>The Common Assessment Service was this week promoted into production.</p>
        <li><a href="/posts/futurehealth.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>User research: Outcome of joint DWP & NHS trial</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">September 24th 2018</p>

        <img src="/public/images/Userresearch.png" alt="user research logo" style="width:100%">

        <p>This week we’ve been analysing the data resulting from a joint DWP and NHS trial.</p>
        <li><a href="/posts/userresearch.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Important upgrades to the PIPCS system</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 31st 2018</p>

        <img src="/public/images/DWPlogo.png" alt="dwp logo" style="width:100%">

        <p>We have had two recent PIPCS releases, which have included important upgrades to maintain the support of the PIPCS system.</p>
        <li><a href="/posts/pipcs.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Launching the new Health and Disability mentor scheme</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 31st 2018</p>

        <img src="/public/images/Office12.jpg" alt="genericofficepicture" style="width:100%">

        <p>There are a number of benefits for pairing up with a mentor and within Health and Disability we are very lucky to house a whole host of skills and knowledge.</p>
        <li><a href="/posts/mentors.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Improving the journey for New Style Employment & Support Allowance (ESA) customers</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 31st 2018</p>

        <img src="/public/images/Office8.jpg" alt="postitnotesonwall" style="width:100%">

        <p>From December 2018, all ESA Income Related new claims will have migrated to Universal Credit (UC) leaving approximately 240k new ESA Contributory (New Style ESA) claims per annum
        subject to current ESA benefit rules and maintained in JSAPS.</p>
        <li><a href="/posts/esa.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>Access to work share details of latest release</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 31st 2018</p>

        <img src="/public/images/atw.png" alt="accesstoworkscreenshot" style="width:100%">

        <p>The Access to work team in Leeds have been progressing nicely with a number of new releases planned.</p>
        <li><a href="/posts/atw.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <class="featured-wrapper">
        <h2>John Manzoni visits Peel Park</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 5th 2018</p>

        <img src="/public/images/jamesandjohn.jpg" alt="jamesparkerandjohnmanzoni" style="width:100%">

        <p>The Digital Health team were delighted to welcome John Manzoni to see our work in Peel Park last week.</p>
        <li><a href="posts/johnmanzoni2.html.html">Read more</a></li>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="blogpost">
        <h2>The Month in Numbers June 2018</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">July 4th 2018</p>

        <img src="/public/images/Slide2.jpg" alt="infographic">

        <p>A snapshot in numbers of the work taking place through Health and Disability</p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <div class="blogpost">

          <h2>Hello and welcome</h2>
          <p class="govuk-body govuk-!-margin-bottom-8">July 4th 2018</p>

          <img src="https://www.xactplacements.co.uk/wp-content/uploads/2018/03/cheer-welcome-still.jpg" class="blog_image" />
          <p>This space has been created for people working within Health and Disability as a platform to share our success, knowledge and continue to strengthen our fast growing community</p>
          <li><a href="posts/fitnote.html">Read more</a></li>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>


      </div>
      <!-- LEFT COL ENDS -->

      <!-- RIGHT COL STARTS -->
      <div class="column-one-third">
        <div class="border">
          <h3 class="bold-medium">About the DWP Health Hub</h3>
          <p>The DWP Health Hub has been created to offer a platform for people working within Health and Disability to stay updated, gather insight and share knowledge.</p>
           <li><a href="posts/fitnote.html">Read more</a></li>
           <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h3 class="bold-medium">Our services</h3>
          <ol>
            <li><a href="/posts/fitnoteteam.html">Send your fit note</a></li>
            <li><a href="/posts/accesstowork.html">Access To Work</a></li>
            <li><a href="/posts/datasharing.html">NHS Data Share</a></li>
            <li><a href="/posts/ds1500.html">Report that your patient is terminally ill</a></li>
            <li><a href="/posts/carers.html">Support for Care</a></li>
            <li><a href="/posts/fha.html">Future Health Assessment</a href="#"></li>
          </ol>
        </div>
      </div>

      <!-- RIGHT COL ENDS -->

    </div>
    </main>

      {% endblock %}
