{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <!-- HEADER -->
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-top:60px;font-size:3.5em">
        Supporting People with a Health Condition or Disability
        <span class="heading-secondary" style="margin-top:30px">News & updates</span>
      </h1>
    </div>
    <!-- HEADER ENDS -->

    <!-- LEFT COL STARTS -->
    <div class="column-two-thirds">

      <div class="blogpost">
        <h2>Name of blog post</h2>
        <p class="form-hint">19th Jan 2018</p>
        <p>Bit of text introducing blog post dolor sit amet, possit latine eu cum, cum erat interesset ei. Habeo postea sea ut. Mei at veritus fuisset temporibus. Posse legimus argumentum eu vix. Ne pro errem doming. Ne usu ubique verterem persequeris, no vide pertinacia his.w</p>
        <p><a href="/posts/example-blog-post">Link to full blog post</a></p>
      </div>

      <div class="blogpost">
        <h2>Name of blog post</h2>
        <p class="form-hint">19th Jan 2018</p>
        <p>Bit of text introducing blog post dolor sit amet, possit latine eu cum, cum erat interesset ei. Habeo postea sea ut. Mei at veritus fuisset temporibus. Posse legimus argumentum eu vix. Ne pro errem doming. Ne usu ubique verterem persequeris, no vide pertinacia his.w</p>
        <p><a href="/blog/blah">Link to full blog post</a></p>
      </div>

      <div class="blogpost">
        <h2>Name of blog post</h2>
        <p class="form-hint">19th Jan 2018</p>
        <p>Bit of text introducing blog post dolor sit amet, possit latine eu cum, cum erat interesset ei. Habeo postea sea ut. Mei at veritus fuisset temporibus. Posse legimus argumentum eu vix. Ne pro errem doming. Ne usu ubique verterem persequeris, no vide pertinacia his.w</p>
        <p><a href="/blog/blah">Link to full blog post</a></p>
      </div>

    </div>
    <!-- LEFT COL ENDS -->

    <!-- RIGHT COL STARTS -->
    <div class="column-third"><div class="border">

      <h3 class="bold-medium">Teams</h3>
      <ol>
        <li><a href="#">Access To Work</a></li>
        <li><a href="#">NHS Data Share</a></li>
        <li><a href="#">Fitnote Photo</a></li>
        <li><a href="#">DS1500</a></li>
        <li><a href="#">Future Health Assessment</a href="#"></li>
      </ol>

    </div></div>
    <!-- RIGHT COL ENDS -->

  </div>
</main>

{% endblock %}
